{% extends "base.html" %}
{% block title %}Chat Application{% endblock %}
{% block content %}
    <main class="content chat-container background-radial-gradient">
        <div class="container p-0">
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">
                        <!-- Icons -->
                        <div class="px-4 d-none d-md-block mt-2">
                          <div class="icons-container d-flex align-items-left">
                            <button class="btn btn-info mr-3"
                                    id="openAddFriendModal"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addFriendModal">
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                            <button class="btn btn-info mr-3" id="toggleRequests">
                                <div class="icon-container">
                                    <i class="fa-solid fa-user-group"></i>
                                    <span id="friendRequestCount" class="notification-count">0</span>
                                </div>
                            </button>
                            <button class="btn btn-info mr-3" id="toggleChat" style="display: none;">
                              <i class="fa-solid fa-chevron-left"></i>
                            </button>
                            <button class="btn btn-info" id="openUserProfile">
                                <i class="fa-solid fa-gear"></i>
                            </button>
                          </div>
                        </div>
                        <!-- Dynamic Friends List Start -->
                        <div id="friendsList">
                            {% for friend in friends %}
                                <a href="#"
                                   class="list-group-item list-group-item-action border-0 user"
                                   data-user-id="{{ friend.id }}"
                                   data-username="{{ friend.username }}"
                                   data-profile-picture="{{ url_for('static' ,filename='uploads/' + friend.profile_picture) }}"
                                   onclick="setActiveFriend('{{ friend.id }}')">
                                    <div class="d-flex align-items-start">
                                        <img src="{{ url_for('static' ,filename='uploads/' + friend.profile_picture) if friend.profile_picture else url_for('static', filename='uploads/default_profile_pic.png') }}"
                                             class="rounded-circle mr-1"
                                             alt="{{ friend.username }}"
                                             width="40"
                                             height="40">
                                        <div class="flex-grow-1 ml-3">
                                            {{ friend.username }}
                                            {% if friend.unread_count | int > 0 %}
                                                <span class="unread-count">{{ friend.unread_count }}</span>
                                            {% endif %}
                                            <div class="small">
                                                <span class="fas fa-circle {{ 'chat-online' if friend.is_online else 'chat-offline' }}"></span> {{ 'Online' if friend.is_online else 'Offline' }}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <!-- Dynamic Friends List End -->
                        <!-- Pending Friend Requests Start -->
                        <div id="pendingRequestsList" style="display: none;">
                            <!-- Pending requests will be dynamically inserted here -->
                        </div>
                        <!-- Pending Friend Requests End -->
                    </div>

                    <div class="col-12 col-lg-7 col-xl-9" id="chatUserProfileContainer">
                      <div id="chatContainer">
                        <!-- Friend Information -->
                        <div id="friendInfoContainer" style="display: none;">
                          <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                              <div class="position-relative">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                              </div>
                              <div class="flex-grow-1 pl-3">
                                <strong id="chatUsername"></strong>
                                <div class="text-muted small" id="typingIndicator" style="display: none;"><em>Typing...</em></div>
                              </div>
                              <div>
                                <button class="btn btn-danger btn-md mr-1 px-3" id="removeFriendButton">Remove Friend</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Friend Information End -->
                        <!-- Dynamic Chat Messages -->
                        <div class="position-relative">
                          <div id="loadingText" style="display: none; text-align: center;"><i class="fa-solid fa-spinner"></i></div>
                          <div class="chat-messages p-4"></div>

                          <div class="flex-grow-0 py-3 px-4 border-top">
                              <div class="input-group">
                                  <input type="text"
                                         class="form-control"
                                         id="messageInput"
                                         placeholder="Type your message">
                                  <button class="btn btn-info" id="sendButton">Send</button>
                              </div>
                          </div>
                        </div>
                        <!-- Dynamic Chat Messages End -->
                      </div>
                      <!-- User Profile -->
                      <div id="userProfile" style="display: none;">
                        <div class="user-profile-container container">
                          <div class="row">
                            <div class="col-md-4">
                              <img src="{{ url_for('static' ,filename='uploads/' + user.profile_picture) if user.profile_picture else url_for('static', filename='uploads/default_profile_pic.png') }}" class="profile-picture img-fluid rounded-circle" alt="User Profile Picture">
                            </div>
                            <div class="col-md-8">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                <h3>User Profile</h3>
                                <button onclick="location.href='{{ url_for('auth.logout') }}'" class="btn btn-danger btn-ms">Logout</button>
                              </div>
                              <form id="userProfileForm">
                                <div class="mb-3">
                                  <label for="username" class="form-label">Username</label>
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                                    <button type="button" class="btn-info" id="editUsername"><i class="fa-solid fa-pen"></i></button>
                                  </div>
                                </div> <div class="mb-3">
                                  <label for="email" class="form-label">Email</label>
                                  <div class="form-group">
                                    <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
                                    <button type="button" class="btn-info" id="editEmail"><i class="fa-solid fa-pen"></i></button>
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <label for="password" class="form-label">New Password</label>
                                  <input type="password" class="form-control" id="password" placeholder="Enter new password">
                                </div>
                                <div class="mb-3">
                                  <label for="repeatPassword" class="form-label">Repeat New Password</label>
                                  <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat new password">
                                </div>
                                <input type="file" class="form-control" id="profilePicture" name="profilePicture">
                                <button type="submit" class="btn btn-info mt-3">Update Profile</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- User Profile End -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Add Friend Modal -->
    <div class="modal fade"
         id="addFriendModal"
         tabindex="-1"
         aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Add a New Friend</h5>
                </div>
                <div class="modal-body">
                    <input type="text"
                           class="form-control"
                           id="friendIdentifier"
                           placeholder="Enter username or email">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addFriendButton">Send Friend Request</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script>
        const currentUserId = {{ user.id | tojson }};
        const currentUsername = "{{ user.username }}";
        const currentUserProfilePicture = "{{ user.profile_picture or 'default_profile_pic.png' }}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/friendship.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/profile.js') }}"></script>
{% endblock %}
