{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static' ,filename='assets/css/chat.css') }}">
{% endblock %}

{% block content %}
<div id="userList">
  {% for user in users %}<div class="user" data-user-id="{{ user.id }}">{{ user.username }}</div>{% endfor %}
</div>
<div id="chatWindow"></div>
<input type="text" id="messageInput" placeholder="Type a message...">
<button id="sendButton">Send</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"></script>

<script>
  const currentUserId = {{user.id | tojson }};
</script>
<script src="{{ url_for('static', filename='assets/js/chat.js') }}"></script>
{% endblock %}
